<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/web/static/bootstrap-3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="/web/static/css/style.css" rel="stylesheet">
    <title>gitsync</title>
  </head>
  <body>
    <div id="main" class="container">
    <h1>GitSync</h1>
    </div>
    <script src="/web/static/jquery/jquery-2.0.3.min.js"></script>
    <script src="/web/static/bootstrap-3.0.0/js/bootstrap.min.js"></script>
    <script src="/web/static/js/gitsync.js"></script>
  </body>
</html>
